:root {
    --main-text-font: Arial, Helvetica, sans-serif;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
li{
    list-style: none;
}
.top {
    padding: 0 20px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.2s ;
    background-color:antiquewhite;   
}
.top.active1 {
    padding: 0 20px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.2s;
    background-color:white;   
}

a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
a.sub_menu{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.menu{
    display: flex;
}
.menu>li{
    margin-top: 15px;
    padding: 0 20px;
    position: relative;
}
.sub_menu{
    background-color: white;
    position: absolute;
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px ;
    visibility: hidden;
    line-height: 35px;
    transition: 0.2s;
    top: 50px;
    border-radius: 5px;
}
.menu>li:hover .sub_menu{
    visibility: visible;
    top:30;
}
#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
.menu>li>a{
    font-size: 15px;
    font-weight: lighter;
    display: block;
    line-height: 20px ;
}
.home{
    margin-top: 12px;
    font-size: 20px;
}
.menu_phu{
    margin-top: 15px;
    display: flex;
}
.menu_phu>li{
    padding: 0 20px;
}
.menu_phu>li:hover .sub_menu{
    visibility: visible;
    top:30;
}
.sub_menu > li > input {
    margin-top: 20px;
    width: 200px;
    border:none;
    border-bottom: 1px solid black;
}
/* ..................Footer....................... */
footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 100px;
    height: 50px;
    border-top: 1px solid black;
    
}
.footer-left{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 1;
}
.footer-left>li{
    margin-top: 10px;
}
.footer-left > li:first-child{
    position: relative;
}
.footer-left> li>input{
    margin-top: 20px;
    width: 50%;
    border:none;
    border-bottom: 1px solid black;
}
.footer-right{
    display: flex;
}
.footer-right>li{
    margin-top: 40px;
    padding: 0 20px;
    position: relative;
}
/* ---------------------Cartegory------------------------------------- */
.row{
    display: flex;
    flex-wrap: wrap;
}
.cartegory{
    padding: 100px 0 0;
}
.cartegory-top {
    margin-bottom: 50px;
    display: flex;
}
.cartegory-top p {
    font-family: var(--main-text-font);
    margin: 0 12px ;
    font-size: 12px;
}
.cartegory-left {
    width: 20%;
}
.cartegory-right {
    width: 80%;
}
.cartegory-right-top-item:first-child {
    flex: 1;
    font-size: 20px;
    font-family: var(--main-text-font);
    font-weight: bold;

}
.cartegory-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.cartegory-right-top-item button {
    width: 70%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid black;
    cursor: pointer;
}
.cartegory-right-top-item select {
    width: 70%;
    padding: 10px 10px;
    display:flex;
    justify-content: space-between;
    background-color:transparent;
    border: none;
    cursor: pointer;
}
.cartegory-right-content {
    margin-top: 20px;
    justify-content: space-between;
}
.cartegory-right-content-item {
    width: calc(32% - 1px);
    text-align: center;
    padding: 15px 0;
}
.cartegory-right-content-item h1 {
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333333;
}
.cartegory-right-content-item img{
    width: 100%;
}
.cartegory-right-content-item p {
    font-size: 12px;
}
.cartegory-right-bottom {
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.cartegory-right-bottom p {
    font-family: var(--main-text-font);
    font-size: 11px;
}
.cartegory-left ul li {
    padding: 12px 10px;
}
.cartegory-left ul li>a {
    color: black;
    font-size: 16px;
    font-family: var(--main-text-font);
}
.cartegory-left ul li ul li {
    padding-left: 10px;
}

.cartegory-left-li.block ul {
    display:block;
}
.cartegory-left ul li ul li a {
    color: #333333;
    font-size: 12px;
}
