:root {
    --main-text-font: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style: none;
}
.top {
    padding: 0 20px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.2s ;
    background-color:transparent;   
}
.top.active {
    padding: 0 20px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.2s;
    background-color:white;   
    box-shadow: 0 2px 1rem #ccc;
}

a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
a.sub_menu{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.menu-left{
    display: flex;
}
.menu-left>li{
    margin-top: 15px;
    padding: 0 20px;
    position: relative;
}
.sub_menu{
    background-color: white;
    position: absolute;
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px ;
    visibility: hidden;
    line-height: 35px;
    transition: 0.2s;
    top: 50px;
    border-radius: 5px;
}
.menu-left>li:hover .sub_menu{
    visibility: visible;
    top:30;
}
#Slider{
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
    overflow: hidden;
}
.menu>li>a{
    font-size: 15px;
    font-weight: lighter;
    display: block;
    line-height: 20px ;
}
.home{
    margin-top: 12px;
    font-size: 20px;
}
.menu-right{
    margin-top: 15px;
    display: flex;
}
.menu-right>li{
    padding: 0 20px;
}
.menu-right>li:hover .sub_menu{
    visibility: visible;
    top:30;
}
.sub_menu > li > input {
    margin-top: 20px;
    width: 200px;
    border:none;
    border-bottom: 1px solid black;
}
    /*-------------cart-----------*/
.cart {
    padding: 100px 0;
}
.cart-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.cart-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.cart-top-item i {
    color: #dddddd;
}
.cart-top-cart {
    border: 1px solid #0DB7EA;
}
.cart-top-cart i {
    color: #0DB7EA;
}
.cart-content-left {
    flex: 2;
    padding-right: 12px;
}
.cart-content-left table {
    width: 100%;
    text-align: center;
}
.cart-content-left table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 13px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 1px solid #dddddd;

    
}
.cart-content-left table p {
    font-family: var(--main-text-font);
    font-size: 13px;
    color: #333;
    
}
.cart-content-left table input {
    width: 30px;
}
.cart-content-left table span {
    display: block;
    margin-left: 35%;
    width: 20px;
    height: 20px;    
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cart-content-left table td {
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}
.cart-content-left td:first-child img {
    width: 200px;
}
.cart-content-left td:nth-child(2){
    max-width: 130px;
}
.cart-content-left td:nth-child(3) img{
    width: 30px;
}
.cart-content-right {
    flex: 1;
    padding-left: 12px;
    border-left: 1px solid #dddddd;
}
.cart-content-right table {
    width: 100%;
}
.cart-content-right table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 15px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 1px solid #dddddd;
}
.cart-content-right table td {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    padding: 6px 0;
}
.cart-content-right tr:nth-child(4) td {
    padding: 15px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.cart-content-right tr td:last-child {
    text-align: right;
}
.cart-content-right-button {
    margin-top: 30px;
}
.cart-content-right-button p{
    margin: 8px 10% 0px;
    font-size: 14px;
    padding: 15px 0 15px;
    display: block;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}
.cart-content-right-button p:hover{
    background-color: rgb(88, 88, 88);
    color: #ffff;
    transition: all 0.3s ease;
}
.cart-content-right-dangnhap{
    margin-top: 20px;
}
.cart-content-right-dangnhap p {
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}       




/*-------------footer-----------*/
footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 100px;
    height: 50px;
    border-top: 1px solid black;
    
}
.footer-left{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 1;
}
.footer-left>li{
    margin-top: 10px;
}
.footer-left > li:first-child{
    position: relative;
}
.footer-left> li>input{
    margin-top: 20px;
    width: 50%;
    border:none;
    border-bottom: 1px solid black;
}
.footer-right{
    display: flex;
}
.footer-right>li{
    margin-top: 40px;
    padding: 0 20px;
    position: relative;
}