:root {
    --main-text-font: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style: none;
}
.top {
    padding: 0 20px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.2s ;
    background-color:transparent;   
}
.top.active1 {
    padding: 0 20px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.2s;
    background-color:white;   
}

a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
a.sub_menu{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.menu{
    display: flex;
}
.menu>li{
    margin-top: 15px;
    padding: 0 20px;
    position: relative;
}
.sub_menu{
    background-color: white;
    position: absolute;
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px ;
    visibility: hidden;
    line-height: 35px;
    transition: 0.2s;
    top: 50px;
    border-radius: 5px;
}
.menu>li:hover .sub_menu{
    visibility: visible;
    top:30;
}
#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
.menu>li>a{
    font-size: 15px;
    font-weight: lighter;
    display: block;
    line-height: 20px ;
}
.home{
    margin-top: 12px;
    font-size: 20px;
}
.menu_phu{
    margin-top: 15px;
    display: flex;
}
.menu_phu>li{
    padding: 0 20px;
}
.menu_phu>li:hover .sub_menu{
    visibility: visible;
    top:30;
}
.sub_menu > li > input {
    margin-top: 20px;
    width: 200px;
    border:none;
    border-bottom: 1px solid black;
}
/* ----------------------------Delivery--------------------- */
.delivery {
    padding: 100px 0;
}
.checkout-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.checkout-top-text{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.checkout-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.checkout-top-item i {
    color: #dddddd;
}
.checkout-top-payment {
    border: 1px solid #0DB7EA;
}
.delivery-content-left {
    width: 50%;
    margin-left: 10%;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.delivery-content-left p {
    font-family: var(--main-text-font);
    font-size: 12px; 
}
.delivery-content-left-caption{
    background-color:#000;
    padding: 15px 15px 15px;
    color: white;
}
.delivery-content-left label {
    font-family: var(--main-text-font);
    font-size: 12px;
    margin-bottom: 6px;
    display: block;
}
.delivery-content-left> p {
    font-weight: bold;
}
.delivery-content-left {
    justify-content: space-between;
}
.delivery-content-left-item {
    margin: 20px;
    width: calc(45% - 12px);
}
.delivery-content-left-item-addrest{
    margin: 20px;
    width: calc(100% - 12px);
}
.delivery-content-left-item input {
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-item-addrest input {
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.payment-content-left{
    margin: 20px;
}
.payment-content-left-item{
    margin: 10px 10px 0;
}
.payment-content-left-item label{
    display: inline-block;
}
.payment-content-left-item-img{
    margin-left: 10px;
}
.delivery-content-left-button{
    position: absolute;
    
}
.delivery-content-left-button p {
    display: inline-block;
    font-family: var(--main-text-font);
    font-size: 12px;
}
.delivery-content-left-button span {
    margin-right: 12px;
}
.delivery-content-left-button {
    padding-top: 20px;
    
}
.delivery-content-left-button button {
    height: 35px;
    border: 1px solid black;
    padding: 6px 40px 6px;
    color: red;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: whitesmoke;
}
.delivery-content-left-button button:hover {
    background-color: black;
    color: #fff;
}
.total-content-right {
    width: 40%;
    padding-left: 12px;
    height: auto;
}
.total-content-right table {
    width: 70%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
}
.total-content-right table tr th:first-child{
    text-align: left;
}
.total-content-right table tr th {
    padding: 12px 0 12px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;

}
.total-content-right table tr th:last-child{
    text-align: right;
}
.total-content-right table tr td {
    padding: 6px 0;
}
.total-content-right table tr :nth-child() {
    border-top: 2px solid #dddddd;
}
.total-content-right table tr td:last-child {
    text-align: right;
}
.total-content-right table tr td:first-child {
    text-align: left;
}   
/*-------------footer-----------*/
footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 100px;
    height: 50px;
    border-top: 1px solid black;
}
.footer-left{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 1;
}
.footer-left>li{
    margin-top: 10px;
}
.footer-left > li:first-child{
    position: relative;
}
.footer-left> li>input{
    margin-top: 20px;
    width: 50%;
    border:none;
    border-bottom: 1px solid black;
}
.footer-right{
    display: flex;
}
.footer-right>li{
    margin-top: 40px;
    padding: 0 20px;
    position: relative;
}