:root {
    --main-text-font: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
.top {
    padding: 0 20px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    color: white;
    width: 100%;
    z-index: 999;
    transition: all 0.2s ;
    background-color:transparent;   
}
.top.active {
    padding: 0 20px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.2s;
    background-color:white;   
}

a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
a.sub_menu{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.menu-left{
    display: flex;
}
.menu-left>li{
    margin-top: 15px;
    padding: 0 20px;
    position: relative;
}
.sub_menu{
    background-color: white;
    position: absolute;
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px ;
    visibility: hidden;
    line-height: 35px;
    transition: 0.2s;
    top: 50px;
    border-radius: 5px;
}
.menu-left>li:hover .sub_menu{
    visibility: visible;
    top:30;
}
#Slider{
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
}
.menu>li>a{
    font-size: 15px;
    font-weight: lighter;
    display: block;
    line-height: 20px ;
}
.home{
    margin-top: 12px;
    font-size: 20px;
}
.menu-right{
    margin-top: 15px;
    display: flex;
}
.menu-right>li{
    padding: 0 20px;
}
.menu-right>li:hover .sub_menu{
    visibility: visible;
    top:30;
}
.sub_menu > li > input {
    margin-top: 20px;
    width: 200px;
    border:none;
    border-bottom: 1px solid black;
}
.aspect-ratio-169{
    display: block;
    position: relative;
    padding-top: 50%;
    transition: 0.3s;
}
.aspect-ratio-169 img{
    display: block;
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
}
.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.dot{
    height: 12px;
    width: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
}
.dot.active{
    background-color: #333;
}
.main-center-img{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}
.main-center-img img{
    width: 100%;
    margin: 0 px 0;
    padding: 5px;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 100px;
    height: 50px;
    margin-top: 30px;
}
.footer-left{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 1;
}
.footer-left>li{
    margin-top: 10px;
}
.footer-left > li:first-child{
    position: relative;
}
.footer-left> li>input{
    margin-top: 20px;
    width: 50%;
    border:none;
    border-bottom: 1px solid black;
}
.footer-right{
    display: flex;
}
.footer-right>li{
    margin-top: 40px;
    padding: 0 20px;
    position: relative;
}
